<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>D3.js</title>
	<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet">
	<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.js" type="text/javascript"></script>
	<script src="{{ url_for('static', filename='d3.v3.min.js') }}" charset="utf-8" type="text/javascript"></script>
	<style type="text/css">
		svg {
			background-color: #bcc5cb;
		}
		.axis path,
		.axis line {
			fill: none;
			stroke: black;
			shape-rendering: crispEdges;
		}
		.axis text {
			font-family: sans-serif;
			font-size: 11px;
		}
		.mytext {
			fill: white;
    		text-anchor: middle;
		}
	</style>
</head>
<body>
<div class="container">

</div>

<script type="text/javascript">
	function getPixelLength(str,fontsize){
        var curLen=0;
        for(var i=0;i<str.length;i++){
            var code=str.charCodeAt(i);
            var pixelLen=code>255?fontsize:fontsize/2;
            curLen+=pixelLen;
        }
        return curLen;
    }

	var width = 600, height = 600;
	var dataset = {{ data|safe }};

	var pie = d3.layout.pie()
				.value(function (d) {
					return d[1];
				});
	var piedata = pie(dataset);

	var outerRadius = width/3; // 外半径
	var innerRadius = 0; // 内半径

	var svg = d3.select('.container')
				.append('svg')
				.attr('width', width)
				.attr('height', height);

	var color = d3.scale.category10();
	// 创建弧生成器
	var arc = d3.svg.arc()
		.innerRadius(innerRadius)
		.outerRadius(outerRadius);
	// 添加对应数目的弧组
	var arcs = svg.selectAll('g')
		.data(piedata)
		.enter()
		.append('g')
		.attr('transform', 'translate('+ (width/2) +', '+ (width/2)+')');
	// 添加弧的路径元素
	arcs.append('path')
		.attr('fill', function (d, i) {
			return color(i);
		})
		.attr('d', function (d) {
			return arc(d);
		});
	// 添加弧内的文字
	arcs.append('text')
		.attr('transform', function (d) {
			var x = arc.centroid(d)[0]*1.4;
			var y = arc.centroid(d)[1]*1.4;
			return "translate("+ x +","+ y +")";
		})
		.attr('text-anchor', 'middle')
		.text(function (d) {
			// 计算百分比
			var percent = Number(d.value)/d3.sum(dataset, function (d) {
					return d[1];
				})*100;
			// 保留一位小数点，末尾加一个百分号
			return percent.toFixed(1)+'%';
		});

	// 添加连接弧外文字的直线元素
	arcs.append('line')
		.attr('stroke', 'black')
		.attr('x1', function (d) {
			return arc.centroid(d)[0]*2;
		})
		.attr('y1', function (d) {
			return arc.centroid(d)[1]*2;
		})
		.attr('x2', function (d) {
			return arc.centroid(d)[0]*2.2;
		})
		.attr('y2', function (d) {
			return arc.centroid(d)[1]*2.2;
		});

	var fontsize = 14;
	arcs.append("line")
    .style("stroke","black")
    .each(function(d){
        d.textLine={x1:0,y1:0,x2:0,y2:0};
    })
    .attr("x1",function(d){
        d.textLine.x1=arc.centroid(d)[0]*2.2;
        return d.textLine.x1;
    })
    .attr("y1",function(d){
        d.textLine.y1=arc.centroid(d)[1]*2.2;
        return d.textLine.y1;
    })
    .attr("x2",function(d){
        // console.log("d.data[0]:  "+d.data[0]);//产商名
        var strLen=getPixelLength(d.data[0],fontsize)*1.5;
        var bx=arc.centroid(d)[0]*2.2;
        d.textLine.x2=bx>=0?bx+strLen:bx-strLen;
        return d.textLine.x2;
    })
    .attr("y2",function(d){
        d.textLine.y2=arc.centroid(d)[1]*2.2;
        return d.textLine.y2;
    });

	arcs.append("text")
		.attr("transform", function(d){
			var x = 0;
			var y = 0;
			x = (d.textLine.x1 + d.textLine.x2)/2;
			y = d.textLine.y1;
			y = y > 0 ? y+fontsize*1.2 : y-fontsize*0.4;
			return "translate("+x+","+y+")";
		})
		.style("text-anchor", "middle")
		.style("font-size", fontsize)
		.text(function(d){
			return d.data[0];
		});

	//添加一个提示框
var tooltip=d3.select("body")
                .append("div")
                .attr("class","tooltip")
                .style("opacity",0.0);

arcs.on("mouseover",function(d,i){
                /*
                鼠标移入时，
                （1）通过 selection.html() 来更改提示框的文字
                （2）通过更改样式 left 和 top 来设定提示框的位置
                （3）设定提示框的透明度为1.0（完全不透明）
                */
    tooltip.html("来自"+d.data[0]+"的订单："+d.data[1])
        .style("left",(d3.event.pageX)+"px")
        .style("top",(d3.event.pageY+20)+"px")
        .style("opacity",1.0);
    tooltip.style("box-shadow","10px 0px 0px"+color(i));//在提示框后添加阴影
    })
    .on("mousemove",function(d){
        /* 鼠标移动时，更改样式 left 和 top 来改变提示框的位置 */
        tooltip.style("left",(d3.event.pageX)+"px")
                .style("top",(d3.event.pageY+20)+"px");
    })
    .on("mouseout",function(d){
        //鼠标移除 透明度设为0
        tooltip.style("opacity",0.0);
    });





</script>
</body>
</html>